<!DOCTYPE html>
<html>
  <head>
    <title>Surfsup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<div class="container">
  
  <p class="text-center">Surfing Camp</p>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    
    </ul>
  </div>

  <div class="banner_one">
  <img src="Fuerte.png" alt="Fuerteventura" width="284" height="213">
  <p class="caption">The pulpit rock in Lysefjorden, Norway.</p>
</div>

    <%= yield %>


  </body>


</html>
